<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="assets/stylesheet/global.min.css")
  title Document
body
  h1 Gulp frontend workflow
  h3 by Robin Bertilsson
  h5 - 2015-07-30
  
